.angle-div {
    padding-top: 200px !important;
    padding-bottom: 200px !important;
    margin-top: 10rem;
    transform: skewY(3deg) !important;
    border-top: double black 9px;
    border-bottom: dotted black 5px;
}
.shadow {
    box-shadow: 1px 2px 4px #4848484d !important;
}
.shadow-sm {
    box-shadow: 1px 1px 6px #4848481c !important;
}
.shadow-lg {
    box-shadow: 1px 4px 9px #48484894 !important;
}
.is-primary, .has-background-primary {
    background: rgb(16, 147, 180) !important;
}
.is-primary:hover {
    background: rgb(16, 135, 165) !important;
}
.is-primary:focus {
    background: rgb(16, 127, 155) !important;
}
.w-sm {
    max-width: 25rem !important;
}
.has-gradient {
    background: rgb(206,56,133);
    background: -moz-linear-gradient(313deg, rgba(206,56,133,1) 0%, rgba(16,157,191,1) 100%);
    background: -webkit-linear-gradient(313deg, rgba(206,56,133,1) 0%, rgba(16,157,191,1) 100%);
    background: linear-gradient(313deg, rgba(206,56,133,1) 0%, rgba(16,157,191,1) 100%);
}